
* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#header {
    display: flex;
    flex-direction: row;
    align-content: center;
    column-gap: 30px;
    padding: 5px;
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 100%;
}


.hamburger {
    display: inline-block;
    cursor: pointer;
    padding-left: 20px;
    font-size: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    align-content: center;
}

#reloadImage { cursor: pointer; }

/* Menu styling */
aside {
    width: 300px;
    background-color: #f4f4f4;
    height: 100%;
    /* position: fixed;
    left: -250px;
    top: 0;
    overflow-y: auto;
    transition: left 0.3s; */
}

/* Menu for larger screens */
@media (min-width: 768px) {
    aside { left: 0; }
}

aside ul {
    padding-top: 5px;
    padding-left: 13px;
}

aside a {
    padding: 0 12px;
    display: block;
    color: #333;
    text-decoration: none;
}

#pdf-container {
    width: 100%;
    height: auto;
}

#pdfCanvas {
    width: 100%;
}


#menu {
    display: none; /* Hide by default */
}

#menu.open {
    display: block; /* Show when active */
} 

@media (min-width: 768px) {
    /* main {margin-left: 250px;} */
    #menu {display: block; };
}

aside ul {
    list-style-type: none; /* Remove bullets */
    padding-left: 0; /* Remove default padding */
}

aside li {
    margin: 0; /* Remove margin for list items */
    padding-left: 12px;
    padding-bottom: 5px;
    font-size: 0.9em;
}

#homepage-container { margin: 20px; }

@media (min-width: 768px) {
    .hamburger { display: none; }
    #reloadImage { padding-left: 30px; }
    #homepage { width: 50%; }
    #homepage-container {
        background-image: url(/images/MG_TF1500.gif); 
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 30vw auto;
        background-blend-mode: dark;
        background-position:right top;
        height: 100%;
    }
}

span.homeheading {
    color: #de0000;
    font-family:Arial;
    font-size: large;
}

span.homebody {
    color: #000000;
    font-family:Arial;
    font-size: small;
}

#toggleViewButton { background-color: palegreen;}
#toggleViewButton.on {background-color: paleturquoise;}